// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  align-items: center;
  display: flex;
  font-family: 'Baloo', cursive;
  height: 100%;

  .login-container {
    background: white;
    border-radius: 5px;
    margin: auto;
    padding: 0;
  }

  .login-header {
    background: #337ab7;
    color: white;
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
  }

  .login-body {
    padding: 15px;

    label {
      text-align: right;
    }

    input[type=submit] {
      width: 100%;
    }
  }
}
